<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <p>เลขที่ต้องการคูณ</p>
  <div class="row">
    <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-success" type="button">ตัวคูณ1</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"
          [(ngModel)]="request.key1">
      </div>
    </div>
    <div class="col-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-success" type="button">ตัวคูณ2</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"
          [(ngModel)]="request.key2">
      </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-success" (click)="getData()">Submit</button>
    </div>
  </div>
  <!-- <h5>Msg = {{msg}}</h5> -->
  <h5>ผลลัพธ์ = {{result}}</h5>
</div>
<router-outlet></router-outlet>